<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some website</title>
</head>

<body>
  {{screamIt "under construction"}}
  <p>
    Wait a moment
  </p>
  {{> footer}}
</body>

</html>
